.card {
    padding: 5px;

    display: grid;
    grid-template: 1fr 4fr / auto;
    align-items: center;
    justify-items: center;

    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.card:hover {
    outline: auto;
}

.qtyGroup {
    display: flex;
}

.qtyGroup button {
    padding: 2px;

    border: 1px solid var(--text-color);
    border-radius: 2px;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.qtyBtns {
    display: flex;
    flex-direction: column;
}

.qtyBtns button {
    height: 5px;
    padding: 5px;

    line-height: 0;
}