.footer {
    min-height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.8rem;

    border-top: 1px solid var(--text-color);
    background-color: var(--secondary-color);
}

.footer>* {
    display: flex;
    justify-content: center;
    flex-basis: 0;
    flex-grow: 1;
}

.footer a {
    text-decoration: underline;
}