@font-face {
    font-family: 'MonaSans';
    src: url('../assets/fonts/MonaSans-VariableFont_wdth,wght.ttf') format('truetype-variations'),
        url('../assets/fonts/MonaSans-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonaSans';
    src: url('../assets/fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations'),
        url('../assets/fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --primary-color: #0d1117;
    --secondary-color: #151b23;
    --text-color: #f0f6fc;
}

body {
    font-family: 'MonaSans', sans-serif;

    background-color: var(--primary-color);
    color: var(--text-color);
}

main {
    margin: 1rem;
}

hr {
    margin: 1rem 0;
}

input {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}